<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.junhyun.boardwas.mapper.CategoryMapper">

    <insert id="register" parameterType="com.junhyun.boardwas.dto.CategoryDto">
        INSERT INTO category (name)
        VALUES(#{name})
    </insert>
    <update id="updateCategory" parameterType="com.junhyun.boardwas.dto.CategoryDto">
        UPDATE category
        SET name = #{name}
        WHERE id = #{id}
    </update>
    <delete id="deleteCategory" parameterType="com.junhyun.boardwas.dto.CategoryDto">
        DELETE FROM category
        WHERE id = #{id}
    </delete>
</mapper>